.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textarea {
  display: block;
  width: 700px;
  height: 200px;
  margin: 10px auto;
}

.keyboard {
  display: flex;
  flex-direction: column;
  width: 700px;
  gap: 8px;
}

.keyboard__row {
  display: flex;
  gap: 6px;
}

.button {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(25, 99, 1, 0.2);
  border-radius: 3px;
}

.button:hover {
  background: rgba(25, 99, 1, 0.2);
}

.active,
.button:active {
  background: rgba(25, 199, 1, 0.2);
}

.backspace,
.tab,
.del,
.capslock,
.shift-left,
.enter,
.space {
  flex-grow: 5;
}

.backspace {
  width: 100px;
}

.shift-right {
	width: 86px;
}